body {
  margin: 0px;
  overflow: hidden;
  text-align: center;
}

.sphere {
  fill: #4242e4;
}

.state {
  stroke: black;
  stroke-width: 0.5px;
}

.state:hover {
  fill: red;
}

.tick text {
  font-size: 1em;
  fill: black;
  font-family: sans-serif;
}

.tick circle {
  stroke: black;
  stroke-opacity: 0.5;
}


.legend {
  background-color: #fff;
  width: 300px;
  height: 60px;
  border: 1px solid #bbb;
  margin: 10px;
}

#quantileLegend .colorlegend-labels {
  font-size: 11px;
  fill: black;
}

#us-map {
  border: 2px solid #b2b2b2;
}
